/* Barra de navegación */
.navbar {
    background-color: #f8f9fa;
}

/* Cards */
.card {
    border: 1px solid #ddd;
    border-radius: 10px;
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 1rem;
}

/* Footer */
footer {
    background-color: #f8f9fa;
    padding: 1rem 0;
}

footer p {
    margin: 0;
}

/* Banner de la Página */
header img {
    max-height: 300px;
    object-fit: cover;
}

/* Responsive Design */
@media (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }

    .card {
        margin-bottom: 1rem;
    }
}
